# ─── PostGIS ─────────────────────────────────────────────
POSTGRES_DB=annuaire_ctm_1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=madinina972

# ─── Backend ─────────────────────────────────────────────
DB_HOST=postgis
DB_PORT=5432
DB_NAME=annuaire_ctm_1
DB_USER=postgres
DB_PASSWORD=madinina972
